<ion-view view-title="{{ 'MENU-SETTINGS' | translate }}">
  <ion-content ng-class="vm.fontSize">
    <ion-list>
      <ion-item>
        <label class="item item-input item-select">
          <div class="input-label">{{ 'SETTING-HEADER' | translate }}</div>
            <select ng-model="language" ng-change="vm.changeLanguage(language)">
              <option value="es">{{ 'SETTING-SPANISH' | translate }}</option>
              <option value="en">{{ 'SETTING-ENGLISH' | translate }}</option>
            </select>
          </label>
          </ion-item>
          <ion-item>
            <label class="item item-input item-select">
              <div class="input-label">{{ 'SETTING-FONTSIZE' | translate }}</div>
              <select ng-model="size" ng-change="vm.changeLetterSize(size)">
                <option value="18">{{ 'SETTING-BIG' | translate }}</option>
                <option value="16">{{ 'SETTING-MED' | translate }}</option>
                <option value="14">{{ 'SETTING-SMALL' | translate }}</option>
              </select>
            </label>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
